
<section class="play-page @(GameState.GameStarted || GameState.GameFinished ? "show" : "")">
    <h3>Dashboard (Score Board)</h3>

   
    Game Left: 
    <div style="width:@(
        GameState.SecondsSinceGameStart == 0 ? 100 : 
        (1.0 - ((double) GameState.SecondsSinceGameStart / (double) (GameState.Questions.Count * GameState.SecondsPerStage))) * 100)%" class="progress">
    </div>

    @foreach (var player in this.GameState.Players.Where(x => !string.IsNullOrWhiteSpace(x.Name) && x.Online))
    {
        <div>
            <span>@player.Name</span>
            <strong>@player.Score</strong>
        </div>
    }

    <br />
    <button class="btn btn-danger" @onclick="()=>{ this.GameState.GameStarted = false; this.GameState.GameFinished = false; this.GameState.StateChanged(); }">Stop Game</button>
</section>

@code {
    [Parameter]
    public State.Game GameState { get; set; } = default!;
}