
<section class="play-page @(this.GameState.Stage == -1 ? "show" : "")">
    <h3>Dashboard (Wait)</h3>

    <div>
        <div>
            @(this.GameState.Players.Where(x=> !string.IsNullOrWhiteSpace(x.Name)).Count()) Players Joined
        </div>

        @foreach (var category in this.GameState.Categories)
        {
            <button>
                @category
                <sup>@(this.GameState.Players.Where(x => x.Categories.Contains(category)).Count())</sup>
            </button>
        }
    </div>
</section>

@code{
    [Parameter]
    public State.Game GameState { get; set; } = default!;
}