.question-stage {
    background-color: #000;
    color: #fff;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

header {
    color: var(--primary-color);
}

.content {
    padding-top: 22px;
}

.scores {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    /* flex-grow: 1; */
}

    .scores h4 {
        font-size: 16px;
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .scores span {
        color: #808285;
    }

.team-score-color {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    display: inline-block;
}


.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.untitld-button {
    text-align: left;
    text-transform: none;
    padding: 14px 16px;
    font-weight: 700;
    position: relative;
}

    .untitld-button.wrong {
        color: #DE1919;
        border-color: #DE1919;
    }

    .untitld-button:disabled:not(.active, .correct) {
        color: #808285;
        border-color: #808285;
        background-color: transparent;
    }

    .untitld-button.active.correct {
        background: var(--primary-color);
        color: #000;
        animation: blinkingButton;
        animation: 0.3s 5 alternate linear blinkingButton;
    }

@keyframes blinkingButton {
    from {
        background: #000;
        color: var(--primary-color);
    }

    to {
        background: var(--primary-color);
        color: #000;
    }
}

._progress {
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 12px;
}

._progress > div {
    content: "";
    background-color: var(--primary-color);
    height: 10px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    opacity: 0;
}

.show.small:not(.ended) ._progress > div {
    opacity: 1;
}

.question-text {
    width: 88%;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 23px;
    line-height: normal;
    transition: font-size var(--fade-timing) ease;
    margin-bottom: 34px;
}

.show.small .question-text {
    font-size: 18px;
}

.q-detail {
    color: var(--primary-color);
    display: flex;
    gap: 16px;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    transition: font-size var(--fade-timing) ease;
}

.q-detail::before {
    content: "";
    height: 1px;
    width: 42px;
    background-color: var(--primary-color);
    position: absolute;
    top: -15px;
    left: 0;
}

.show.small .q-detail {
    font-size: 14px;
}

.button-info {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 5px;
    justify-content: space-between;
}

.question-wrapper {
    position: relative;
    flex-grow: 1;
}

.question {
    top: unset;
    bottom: 48px;
    height: auto;
}

.answers .untitld-button {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.3s, transform 0.3s;
}

    .answers .untitld-button:nth-child(2) {
        transition-delay: 0.2s;
    }

    .answers .untitld-button:nth-child(3) {
        transition-delay: 0.4s;
    }

    .answers .untitld-button:nth-child(4) {
        transition-delay: 0.6s;
    }

    .answers .untitld-button.show {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        z-index: 1;
    }

.question {
    transition-property: transform, opacity;
}