@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@if (Player is not null)
{
    <section class="play-page name-stage @(Player.Page == State.Pages.NamePicker ? "show" : "")">

        <h1>
            Welcome to<br />
            untitld Trivia
        </h1>

        <div class="name-picker">
            <label for="name-picker">Choose your display name</label>
            <input id="name-picker" @oninput="NameChangeHandler" placeholder="e.g. Ahmed" />
            <small class="hint @(this.Player.Name?.Length >= 3 ? "show" : "")">What a great name</small>
        </div>

        <button class="untitld-button" @onclick="Save" disabled="@(this.Player.Name == null || this.Player.Name.Length < 2)">Submit</button>
    </section>
}

@code {

    [Parameter]
    public State.Player Player { get; set; } = default!;

    [Parameter]
    public State.Game GameState { get; set; } = default!;

    private void NameChangeHandler(ChangeEventArgs e)
    {
        this.Player.Name = e.Value?.ToString() ?? "";
    }

    private void Save()
    {
        Player.Page = State.Pages.CategoryPicker;

        this.GameState.AssignTeam(Player);

        this.GameState.StateChanged();

        StateHasChanged();
    }
}
