@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@if (Player is not null)
{
    <section class="play-page @(Player.Page == State.Pages.Rules ? "show" : "")">

        <header>
            <div class="header-content">
                <div class="player-name"><trivia.Icons.UntitldFullIcon Light /> Trivia</div>
             </div>
         </header>

        @if (this.Player.PreviousPage is not null)
        {
            <button class="btn btn-warning" @onclick="() => {Player.Page = this.Player.PreviousPage.Value; this.GameState.StateChanged();}">Back</button>
        }

        <div class="content">
            <div class="rules-details">
                <p>The rules of the game are very simple just follow these:</p>

                <ul>
                    <li>You have 20 seconds to answer each question.</li>
                    <li>Choose the right answer out of 4 possibilities.</li>
                    <li>For every right answer you get points.</li>
                    <li>The person with the highest score wins.</li>
                    <li>Each person is assigned a random team, you can help your team.</li>
                </ul>
            </div>

            @if (this.Player.PreviousPage is null)
            {
                <button class="untitld-button" @onclick="() => {Player.Page = State.Pages.NamePicker; this.GameState.StateChanged();}">Ok</button>
            }
        </div>
    </section>
}

@code {

    [Parameter]
    public State.Player Player { get; set; } = default!;

    [Parameter]
    public State.Game GameState { get; set; } = default!;
}
