section {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.player-name {
    color: var(--primary-color);
    text-transform: uppercase;
}

.content {
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 18px;
    max-width: 264px;
    align-self: center;
}

.icon {
    height: 35px;
    width: 52px;
    background-image: url(/images/checkmark-green.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 28px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 30px;
}

.content p:last-child {
    color: #fff;
}