.waiting-stage {
    background-color: var(--primary-color);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .waiting-stage.dark-bg {
        color: #fff;
    }

    .waiting-stage header {
        width: 90%;
        border-color: #000;
    }

    .waiting-stage.dark-bg header {
        border-color: #fff;
    }

.wait-message {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-property: flex-grow;
    transition-duration: var(--fade-timing);
    transition-timing-function: ease;
}

.rules-open .wait-message {
    flex-grow: unset;
}

.wait-message div {
    transition-property: opacity;
    transition-duration: var(--fade-timing);
    transition-timing-function: ease;
}

.rules-open .wait-message div {
    /* opacity: 0; */
    display: none;
}

.loading-icon {
    animation: 3s infinite alternate linear rotate;
    animation-direction: normal;
}

h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 35.28px;
    margin: 16px 0;
    transition-property: font-size, line-height;
    transition-duration: var(--fade-timing);
}

.rules-open h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 98%;
}

.team {
    font-weight: 600;
    margin-bottom: 45px;
    transition-property: opacity;
    transition-duration: 1s;
}

.rules-open .team {
    display: none;
    /* opacity: 0; */
}

.team-name {
    font-size: 24px;
}

.rules {
    width: 100%;
    padding-bottom: 90px;
    cursor: pointer;
    transition-property: background-color, color, flex-grow;
    transition-duration: var(--fade-timing);
    transition-timing-function: ease;
    position: relative;
    overflow: hidden;
}

.rules-open .rules {
    background-color: #000;
    color: #fff;
    flex-grow: 1;
}

.divider {
    width: 60%;
    height: 1px;
    background-color: #000;
    margin: 0 auto 40px;
}

.dark-bg:not(.rules-open) .divider {
    background-color: #fff;
}

.rules-hint {
    margin-top: 8px;
    transition-property: opacity;
    transition-duration: var(--fade-timing);
    transition-timing-function: ease;
}

.rules-open .rules-hint {
    height: 0;
    opacity: 0;
}

.close-button {
    width: 24px;
    height: 24px;
    background-image: url(/images/close-icon.svg);
    background-size: cover;
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--fade-timing);
    transition-timing-function: ease;
    position: absolute;
    top: 22px;
    right: 22px;
}

.rules-open .close-button {
    opacity: 1;
}

.rules-details {
    max-width: 300px;
    margin: auto;
    text-align: left;
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--fade-timing);
    transition-timing-function: ease;
    height: 0;
}

.rules-open .rules-details {
    opacity: 1;
}

.rules-details p {
    margin-top: 8px;
    margin-bottom: 28px;
}

    .rules-details li:not(:last-child) {
        margin-bottom: 20px;
    }

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
