.play-page, .question {
    position:absolute;
    visibility: hidden;
    z-index:-1;
    opacity:0;
    transform: translateY(-50px);
    transition:0.3s;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

    .play-page.show, .question.show {
        visibility: visible;
        opacity:1;
        transform: translateY(0);
        z-index:1;
    }


.category-button.active {
    background: red;
}

.progress{
    transition:1s ease-in-out;
    height:10px;
    background:red;
}